* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines that 1rem is 10px
    font-size: 62.5%;
    overflow: hidden;
}

body {
    -webkit-app-region: drag;
    background-color: #f2f2f2;
}

.base-loader {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    transform-origin: center !important;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
    background-color: white;
    opacity: 0.7;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.Toastify__toast {
    font-size: 1.2rem;
    font-family: "Roboto-Light";
    text-align: center;
}
