* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines that 1rem is 10px
    font-size: 62.5%;
    overflow: hidden;
}

// override default materialize toast styles
.toast {
    font-size: 1.3rem !important;
}

.jsx-toast {
    position: absolute !important;
    top: 0% !important;
    left: 50% !important;
    transform: translate(-50%, -120%) !important;
    z-index: 1000 !important;
}

.base-loader {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    transform-origin: center !important;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
    background-color: white;
    opacity: 0.7;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
