/* INDEX.HTML STYLES */
.compact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Light;
}

.compact-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translateY(-30px);
}

.compact-drop img {
    height: 200px;
    width: 200px;
    user-select: none;
}

.compact-drop p {
    font-size: 15px;
    pointer-events: none;
    user-select: none;
}

/* LIST.HTML STYLES */
