.list {
    &-item-container {
        height: 88vh;
        background-color: #f2f2f2;
        overflow: scroll;
        padding: 3%;
    }

    &-button-container {
        background-color: #f2f2f2;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        & * {
            margin: 0 3rem;
            width: 15rem;
            background-color: #dbdbdb;
            font-weight: 200;

            &:hover {
                background-color: #dbdbdb;
            }

            &:focus {
                background-color: #dbdbdb;
            }
        }
    }
}
