.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-Light";

    &-drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        transform: translateY(-30px);

        & img {
            height: 200px;
            width: 200px;
            user-select: none;
        }

        & p {
            font-size: 17px;
            margin-top: 2rem;
            pointer-events: none;
            user-select: none;
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translateX(-50%);
        }

        & > div > p {
            font-size: 1.35rem;
            opacity: 0.6;
            margin-bottom: 1rem;
        }
    }

    &-open {
        background-color: #dbdbdb;
        font-weight: 200;
        width: 15rem;

        &:hover {
            background-color: #dbdbdb;
        }

        &:enabled {
            background-color: #dbdbdb;
        }
    }
}
